Package: fio-bco
Version: 1.2.8+upgrade-actor-system
Section: misc
Priority: extra
Architecture: amd64
Vcs-Git: https://github.com/jancajthaml-openbank/fio-bco.git
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: libzmq5 (>= 4.2.1~), openssl (>= 1.1~), libc6
Description: fio bank connector for openbank
 Service managing FioBank tokens and synchronizing FioBank transactions.
