[Unit]
Description=openbank FIO Bank Connection tenant %i
PartOf=fio-bco.service
After=fio-bco.service
ConditionPathExists=/etc/fio-bco/conf.d/init.conf

[Service]
Type=notify
Environment=FIO_BCO_TENANT=%i
EnvironmentFile=/etc/fio-bco/conf.d/init.conf
StartLimitBurst=0
ExecStart=/usr/bin/fio-bco-import %i
StandardInput=null
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
Restart=always
RestartSec=0
TimeoutStartSec=0
TimeoutSec=infinity
KillMode=process

[Install]
WantedBy=multi-user.target
