[Unit]
Description=openbank FIO Bank connection configuration watcher
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'systemctl restart fio-bco.service'

[Install]
WantedBy=multi-user.target 