[Unit]
Description=openbank FIO Bank connection configuration watcher
StartLimitBurst=5

[Service]
Type=simple
ExecStartPre=echo 'restarting fio-bco (configuration has changed)'
ExecStart=/bin/sh -c 'systemctl restart fio-bco.service'

[Install]
WantedBy=ledger.service