[Unit]
Description=openbank FIO Bank Connection REST service
PartOf=fio-bco.service
After=fio-bco.service
Requires=fio-bco.service

[Service]
Type=notify
EnvironmentFile=/etc/fio-bco/conf.d/init.conf
StartLimitBurst=0
ExecStart=/usr/bin/fio-bco-rest
StandardInput=null
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
Restart=always
RestartSec=0
TimeoutStartSec=0
TimeoutSec=infinity
SuccessExitStatus=2
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=fio-bco.service