[Unit]
Description=openbank FIO Bank Connection services namespace
After=inetd.service
ConditionPathExists=/etc/init/fio-bco.conf

[Service]
Type=oneshot
ExecStart=/bin/echo start fio-bco namespace
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
