[Unit]
Description=openbank FIO Bank Connection tenant %i
After=inetd.service

[Service]
Type=notify
Environment=FIO_BCO_TENANT=%i
EnvironmentFile=/etc/init/fio-bco.conf
StartLimitBurst=0
ExecStart=/openbank/services/fio-bco/fio-bco-unit %i
StandardInput=null
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
Restart=always
RestartSec=0
TimeoutStartSec=0
TimeoutSec=infinity
KillMode=process

[Install]
WantedBy=multi-user.target
