Package: fio-bco
Version: 1.1.1+better-packaging-and-control
Architecture: armhf
Maintainer: Jan Cajthaml <jan.cajthaml@gmail.com>
Depends: init-system-helpers (>= 1.18~), libzmq5 (>= 4.2.1~), openssl (>= 1.1~)
Section: openbank
Priority: extra
Vcs-Git: git@github.com:jancajthaml-openbank/fio-bco.git
Description: Openbank FIO Bank Connection
